.spot-tiles-wrapper {
  display: flex;
  /* column-gap: 15px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: auto;
  padding: 30px;
  justify-content: flex-start;
}

.spot-info-wrapper {
  padding: 10px;
}
.spot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-image {
  width: 300px;
  height: 250px;
  /* Fit the size of the container */
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin: 0;
}


.spot-name {
  font-weight: bold;
}

.spot-tile-container {
  position: relative;
  /* Match the size of the image */
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.spot-tile-list {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  cursor:pointer;
}

.tile {
  width: 200px;
  height: 150px;
  background-color: #f0f0f0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tile::before {
  content: attr(title);
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.tile:hover::before {
  visibility: visible;
}



@media (max-width: 499px) {
  .spot-tiles-wrapper {
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .spot-tile-list {
    width: calc(33.33% - 20px); /* Three columns with a gap */
  }
}

@media (min-width: 1024px) {
  .spot-tile-list {
    width: calc(25% - 20px); /* Four columns with a gap */
  }
}